---
import MentorItem from "./MentorItem.astro";
---

<div
  class="flex gap-16 justify-center w-full p-16 flex-col md:flex-row items-center"
>
  <MentorItem
    githubLink="https://github.com/LanVukusic"
    name="Lan Vukušič"
    imageLink="https://avatars.githubusercontent.com/u/13378639?v=4"
  />
  <MentorItem
    githubLink="https://github.com/janvasiljevic"
    name="Jan Vasiljevič"
    imageLink="https://avatars.githubusercontent.com/u/47833674?v=4"
  />

  <MentorItem
    githubLink="https://github.com/matejur"
    name="Matej Urbas"
    imageLink="https://avatars.githubusercontent.com/u/34211746?v=4"
  />
</div>
