---
---

<div>
  <p>Nekaj osnovih informacij:</p>
  <ul class="mt-5">
    <li>
      <strong>Snov.</strong>
      Osnove programiranja v jeziku <code>javascript</code> in poznvanje orodja <code
        >git</code
      >.
    </li>
    <li>
      <strong>Urnik.</strong>
      Vsak teden v soboto ob 10:00, približno 3 ure v računalniški učilnici.
    </li>
    <li>
      <strong>Komunikacija.</strong> Dogovorjanje in komunikacija poteka preko <a
        href="https://www.facebook.com/groups/915063632836456"
        >Facebook skupine</a
      >
    </li>
    <li>
      <strong>GitHub.</strong> Za hranjenje kode bomo uporabljali platformo GitHub
      za katero je <a href="/gradivo/github-in-git">potrebno ustvariti račun</a
      >.
    </li>
    <li>
      <strong>Gradivo.</strong> Kar bomo delali je na voljo na <a
        href="/gradivo">podstrani za gradivo</a
      >, ki bo tedensko posodobljena.
    </li>
  </ul>
  <li>
    <strong>Ostalo.</strong> Če imate svoj prenosnik je zaželjeno, da ga prinesete
    in delate na njem.
  </li>
</div>
